<div class="grid">
  <!-- Empty 3-size column -->
  <div class="col-3"></div>

  <!-- 6 size column with login card -->
  <div class="col-6">
    <ng-template pTemplate="header">
      <div class="title">
        <h3>Oops...something went wrong</h3>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <!-- <button
          pButton
          type="button"
          label="Primary"
          class="p-button-raised"
        ></button>
        <button
          pButton
          type="button"
          label="Secondary"
          class="p-button-raised p-button-secondary"
        ></button> -->
    </ng-template>
  </div>

  <!-- Empty 3-size column -->
  <div class="col-3"></div>
</div>
