<div class="grid">
  <div class="col-3"></div>
  <div class="col-6">
    <mat-card>
      <div class="text-center mb-5">
        <!-- Title -->
        <img
          src="../../../assets/logo.png"
          alt="Image"
          height="50"
          class="mb-3"
        />
        <div class="text-900 text-3xl font-medium mb-3">Welcome Back!</div>
        <span class="text-600 font-medium line-height-3"
          >Don't have an account?</span
        >
        <a
          class="font-medium no-underline ml-2 cursor-pointer"
          (click)="handleSignup()"
          >Create today!</a
        >
        <!-- Input Fields -->
        <div>
          <!-- Email -->
          <mat-form-field
            appearance="outline"
            hideRequiredMarker="true"
            class="w-full"
          >
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="username" required />
          </mat-form-field>
          <br />
          <!-- Password -->
          <mat-form-field
            appearance="outline"
            hideRequiredMarker="true"
            class="w-full"
          >
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password" required />
          </mat-form-field>
        </div>
        <!-- Login Button -->
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="w-full"
          (click)="handleLogin()"
        >
          Login
        </button>
      </div>
    </mat-card>
  </div>
  <div class="col-3"></div>
</div>
